@import url("https://fonts.cdnfonts.com/css/clash-display");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-DM
}

nav {
    @apply px-4 md:px-12 lg:px-40 py-8 flex justify-between items-center
}

nav img {
    @apply h-[30px]
}

nav ul.menu {
    @apply absolute top-0 bottom-0 right-0 bg-black py-8 px-4 transition-all ease-in-out delay-150 flex-col gap-4 w-3/5 text-white items-center
}

nav ul.menu li {
    @apply py-2 my-2 hover:bg-[#F5F8FD] hover:text-black w-full text-center
}


nav ul {
@apply flex gap-6 items-center text-[18px]
}

nav ul button {
    @apply bg-black text-white rounded px-6 py-2 hover:bg-white hover:text-black border-2 border-black
}

.hero {
    @apply  px-4 md:px-12 lg:px-40 py-8 flex flex-col md:flex-row gap-4 items-center
}

.hero-text, .hero-image {
    @apply w-full md:w-1/2
}

.hero-text h1 {
    @apply text-[36px] md:text-[40px] lg:text-[57px] font-clash font-semibold
}

.hero-text p {
    @apply my-6 text-[#A1A1A1]
}

.hero-image {
    @apply bg-circle bg-no-repeat flex justify-end bg-center bg-contain
}

.features {
    @apply px-4 md:px-12 lg:px-40 py-20 text-center
}

.feature-list {
    @apply flex gap-4 flex-col md:flex-row
}

.feature-list h3 {
    @apply text-[20px] font-semibold mb-2
}

.feature-list p {
    @apply text-[#667085] text-[16px]
}

.cta {
    @apply flex flex-col md:flex-row items-center font-clash px-4 md:px-12 lg:px-40 pt-20 justify-between bg-black text-white
}

.message {
    @apply px-4 md:px-12 lg:px-40 py-20
}

.quote {
    @apply w-11/12 md:w-4/5 lg:w-3/5 text-center flex flex-col gap-4 items-center
}

.signin {
    @apply flex justify-center items-center py-20
}

.signin form {
    @apply w-11/12 md:w-3/4 lg:w-1/3 shadow flex flex-col gap-2 p-4
}

.input {
    @apply w-full h-[40px] bg-[#A1A1A1] px-2 rounded
}

.input input {
    @apply bg-none bg-transparent w-full h-full outline-none border-none
}

.dashboard {
    @apply px-4 md:px-12 lg:px-40 py-20
}

.dashboard h1 {
    @apply text-[24px] md:text-[34px] font-clash
}

.notes {
    @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3
}

.add-note {
    @apply absolute p-4 md:p-12 lg:px-20 top-0 left-0 right-0 bg-[rgba(0,0,0,0.6)] backdrop-blur flex flex-col justify-center items-center
}

.add-note form {
    @apply w-full md:w-3/4 lg:w-2/5 flex flex-col gap-2 text-white
}

.add-note input {
    @apply h-[35px] rounded text-black px-2
}

.add-note textarea {
    @apply h-[350px] resize-none rounded text-black p-2
}

.notes .preview {
    @apply border-2 p-4 rounded-2xl text-ellipsis
}

.notes .preview h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @apply text-[24px] font-semibold font-clash leading-none
}

.notes .preview p {
    @apply my-2
}

.modal {
    @apply bg-black text-white p-4 text-base fixed top-2 right-0 left-0
}